
@model List<GetEmployeeAdminVM>

<div class="col-lg-8 d-flex align-items-stretch">
    <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Employee</h5>
            <div class="table-responsive">
                <a asp-action="Create" type="button" class="btn float-end btn-outline-success m-1">Create</a>
                <table class="table table-bordered text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Id</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">FullName</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Description</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Job</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Image</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Facebook Url</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Instagram Url</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Twitter Url</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Linked In Url</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Action</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.Id</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.FullName</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.Description</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.Job</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <img width="60px" src="@i.ImageUrl" alt="Alternate Text" /> 
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.FacebookUrl</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.InstagramUrl</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.TwitterUrl</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@i.LinkedInUrl</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <a asp-action="Update" asp-route-id="@i.Id" type="button" class="btn btn-outline-primary m-1">Update</a>
                                    <a asp-action="Delete" asp-route-id="@i.Id" type="button" class="btn btn-outline-danger m-1">Delete</a>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>